nav {
  background-color: #48f232;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: center;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px 18px;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  text-shadow: black;
}

nav li:first-child a {
  font-weight: bold;
}

nav li a:hover {
  background-color: #3cd11e;
}


.footer {
 background-color: #48f232;
  color: white;
  padding: 20px;
  text-align: center;
}
.footer p {
  margin-bottom: 0;
}
.footer svg {
  vertical-align: middle;
  margin-left: 5px;
}
